# Django app
db.sqlite3
.env
/photo/media/*

# Terraform
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraformrc
.tflint.hcl

# Githubactions(local debug using act)
.secrets
