{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class='row'>
  <div class='mt-5 mb-4 col-sm-10 col-md-4 mx-auto '>
    <div class="text-center">
      <img src="{% static 'images/icon.png'%}" alt="Icon" width="50">
      <h1 class="my-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    </div>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request
      a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    <form method="POST" action="{{ action_url }}">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class='d-grid mt-3'>
        <button class='btn btn-primary px-4 mt-4' type='submit'>{% trans 'change password' %}</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
